
/* -------------------------------------------------- GENERAL MAP STUFF ----------------------------------------------- */

html a {
	color: rgb(0, 112, 192)
}

.map-button {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	cursor: pointer;
	padding: 6px;
	border: 2px solid #bab3ad;
}

.map-button-img {
	height: 30px;
	width: 30px;
}


/* -------------------- Search Bars -------------------- */

/* Allows input and clear button to be beside each other */
.search {
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
}
/* Styles the input search bar */ 
.search-bar {
	width: 88%;
	border-radius: 5px 0 0 5px;
	padding: 7px 12px;
	margin: 1.25em 0 .25em 0;
	font-size: 16px;
	display: inline-block;
	border: 1px solid #ccc;
	border-right: none;
	box-sizing: border-box;
}
/* Removes clear 'x' in Microsoft browsers */
.search-bar::-ms-clear {
	display: none;	
}
/* Styles the block for the search results */
.search-results {
	margin-top: -.35em;
	font-size: 16px;
	background-color: white;
	border: 1px solid #ccc !important;
	border-bottom: none !important;
}
/* Styles the button for clearing the search */
.clear-search {
	border-radius: 0 5px 5px 0;
	margin: 1.25em 0 .25em 0;
	display: inline-block;
	font-size: 16px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	width: 12%;
}
/* Styles each individual search result */
.search-result {
	display: block;
	font-size: 16px;
	text-decoration: none;
	border-bottom: 1px solid #ccc;
	padding: .25em .8em;
}
/* Adds the hover effect on the individual search result */
.search-result:hover {
	background-color: #E8E8E8;
	color: black;
	cursor: pointer;
}
/* Removes border when results is empty */
.search-results:empty {
	border: none !important;
}


/* -------------------------------------------------- GENERAL SIDEBAR ----------------------------------------------- */

/* Background color for sidebar header */
.sidebar-header {
	background: #840018;
	background-color: #840018;
}
/* Font size for sidebar footer */
.sidebar-footer {
	font-size: 16px;
}
/* Background color of back button container */
.sidebar-back {
	background: #e0e0e0;
}
/* Styles the back button across layers */
.back-button {
	background: #fff;
	border: 1px solid #BAB3AD;
	padding: .5em 1.25em;
	cursor: pointer;
}

input[type="checkbox"] {
	display: none;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	border: 2px solid #707070;
}

input[type="checkbox"]:hover {
	background: #CCD1D1;
	cursor: pointer;
	transition: .2s;
}

input[type="checkbox"]:checked {
	background-color: #5b6771;
	transition: .2s;
}

input[type="checkbox"]:checked:before {
	color: #ffffff;
	font-size: 16px;
	content: '\002714';
	font-weight: bold;
}

input[type="checkbox"]:checked:hover {
	background-color: #000000;	
	transition: .2s;
}

input[type="radio"] {
	display: none;
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	display: flex;
	justify-content: center;
	border-radius: 50%;
	border: 2px solid #707070;
}

input[type="radio"]:hover {
	background: #CCD1D1;
	cursor: pointer;
	transition: .2s;
}

input[type="radio"]:checked {
	background-color: #5b6771;
	transition: .2s;
}

input[type="radio"]:checked:before {
	color: #ffffff;
	font-size: 16px;
	content: '\002714';
	font-weight: bold;
}

input[type="radio"]:checked:hover {
	background-color: #000000;	
	transition: .2s;	
}

.buttons {
	display: flex;
	justify-content: center;
	margin-top: 1em;
	margin-bottom: 1em;
}

.buttons .sidebar-button:first-child {
	margin-right: 1em;
}

.sidebar-button {
	border: none;
	background-color: #2E86C1;
	color: #fff;
	font-size: 1.5em;
	border-radius: 4px;
	font-weight: bold;
	padding: .5em 1em;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.sidebar-button img {
	width: 25px;
	height: 25px;
	margin-left: 10px;
}

.sidebar-button:hover {
	background-color: #1F618D;
}

.nccu-logo {
	height: 8vh;
	width: auto;
}

.fake-footer-link {
	color: rgb(0, 112, 192);
	cursor: pointer;
	text-decoration: underline;
}



/* -------------------------------------------------- LIST SIDEBAR ----------------------------------------------- */

.section {
	cursor: pointer; 
	margin: 0;
	width: 100%;
	margin-bottom: 5px;
}

.section-image {
	height: 30px;
	width: 30px;
	margin-right: 10px;
}

.section-title p {
	font-size: 16px;
	display: flex;
	align-items: center;
	font-weight: bold;
	color: rgb(50, 50, 50)
}

.section-title:hover p:hover {
	text-decoration: underline;
}

.section-header {
	padding: 0 .5em;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid silver;
	padding-left: 10px;
	padding-right: 10px;
}

.section-location {
	padding: .5em;
	padding-left: 1em;
	font-size: 14px;
	border: 1px solid lightgray;
	border-top: none;
}

.section-location:hover {
	text-decoration: underline;
}

.section-header:hover, .section-location:hover {
	background-color: #CCD1D1;
}

.section-list {
	display: none;
}

.section-location, .section-header {
	transition: .2s;
}

.section-check {
	display: inline-block;
	vertical-align: middle;
}

/* -------------------------------------------------- LOCATION SIDEBAR ----------------------------------------------- */

.detail-image {
	width: 25px;
	height: 25px;
	margin-right: 8px;
}

.location-detail {
	display: flex;
	align-items: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

#location-title {
	font-size: 22px;
}

#location-image {
	width: 100%;
	height: auto;
	border: 2px solid dimgray;
	margin-bottom: 2em;
}

#location-content {
	font-size: 16px;
}

#location-content a {
	text-decoration: none;
}



/* -------------------------------------------------- DIRECTIONS SIDEBAR ----------------------------------------------- */

.direction-image {
	height: 25px;
	width: 25px;
	min-width: 25px;
	min-height: 25px;
	margin-left: 5px;
	margin-right: 10px;
}

.direction-options {
	font-size: 18px;
}

.direction-option {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

#directions-time {
	text-align: center;
	font-size: 16px;
}

#locations {
	width: 90%;
}

.direction-search {
	width: 70%;
	border-radius: 5px;
	padding: 7px 12px;
	font-size: 16px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

#directions-info {
	margin-top: 20px;
	max-height: 30vh;
	font-size: 16px;
	overflow: auto;
}

#direction-title {
	font-size: 22px;
}

.directions-open {
	border: 1px solid black;
}

.top-direction-row {
	border-top: 1px solid black;
}

.direction-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	padding-right: 15px;
	background-color: gainsboro;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}



/* -------------------------------------------------- SHARE SIDEBAR ----------------------------------------------- */

#link-title {
	font-size: 22px;
}

.copy-url {
	width: 95%;
	font-size: 14px;
	height: 6vh;
	padding: 5px;
	resize: none;
}

.copy-map {
	width: 95%;
	font-size: 14px;
	height: 10vh;
	padding: 5px;
	resize: none;
}

.link-content {
	font-size: 16px;
}

.copy-button {
	margin-top: 10px;
	width: 100%;
	margin-bottom: 30px;
	font-size: 14px;
	background: gainsboro;
	border: 1px solid #BAB3AD;
	padding: .5em 1.25em;
	cursor: pointer;
}


/* -------------------------------------------------- ABOUT SIDEBAR ----------------------------------------------- */

.about-header {
	color: #404040;
	font-size: 16px;
}

.about-content {
	font-size: 14px;
}


/* --------------- jQuery popup --------------- */
.ui-dialog {
	z-index: 10000 !important;
}

.ui-front { 
	z-index: 10000 !important; 
}

.ui-dialog .ui-dialog-titlebar {
	background-color: #8b2233;
	color: #fff;
	font-size: 1.1em;
}

.ui-dialog .ui-dialog-buttonpane button {
	margin: .5em 1em .5em 0;
}

.ui-dialog .ui-dialog-content {
	padding: 1em;
}

.ui-dialog .ui-dialog-buttonpane {
	padding: .5em 1em .5em .4em;
}

.ui-dialog-buttonset button {
	padding: .4em 1.3em;
}

.dialog {
	display: none;
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}
